@model Jifer.Models.Post.JGoViewModel
@{
    ViewData["Title"] = "Fill JGoViewModel";
}

<h1 class="text-center create-jgo-title">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <section>
            <form id="create-jgo-form" asp-action="CreateJGo" asp-controller="Post" method="post" class="create-jgo-block-form">
                <hr />
                <div class="text-center create-jgo-form-group">
                    <label asp-for="@Model.Content" class="create-jgo-form-label">Съдържание:</label>
                    <input id="create-jgo-input-content" asp-for="@Model.Content" class="form-control create-jgo-input" aria-required="true" />
                    <span asp-validation-for="Content" class="text-danger create-jgo-validation-message"></span>
                </div>

                <div class="text-center create-jgo-form-group">
                    <label asp-for="@Model.Visibility" class="create-jgo-form-label">Достъпност:</label>
                    <select id="create-jgo-input-visibility" asp-for="@Model.Visibility" class="form-control create-jgo-input">
                        @foreach (var value in Enum.GetValues(typeof(Jifer.Data.Constants.ValidationConstants.Accessibility)))
                        {
                            <option value="@value">@value</option>
                        }
                    </select>
                    <span asp-validation-for="Visibility" class="text-danger create-jgo-validation-message"></span>
                </div>

                <div class="text-center">
                    <button id="create-jgo-submit" type="submit" class="btn btn-primary create-jgo-button">Submit</button>
                </div>
            </form>
        </section>
    </div>
</div>
