@model TimelineViewModel
@using Jifer.Data.Constants
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Jifer.Services.Models.Post

@functions {
    private bool IsAuthor(string authorId)
    {
        return authorId == User.FindFirstValue(ClaimTypes.NameIdentifier);
    }
}

@{
    ViewData["Title"] = "Timeline";
}
<div class="welcome-background"></div>
<div class="jgo-pages-container">
    <h1 class="text-center">Времева линия</h1>

    <div class="list-group">
        @foreach (var post in Model.Posts)
        {
            <div class="jgo-pages-post">
                @if (IsAuthor(post.AuthorId))
                {
                    <h5 class="mb-1">@post.Author.UserName</h5>
                }
                else
                {
                    <form asp-controller="User" asp-action="ViewOtherProfile" method="post" class="mb-1 jgo-pages-author-form">
                        <input type="hidden" name="otherId" value="@post.AuthorId" />
                        <button type="submit" class="jgo-pages-author-link">
                            @post.Author.UserName
                        </button>
                    </form>
                }
                <p class="mb-1">@post.Text</p>
                <small>@post.PublishDate.ToString("g")</small>

                @if (IsAuthor(post.AuthorId))
                {
                    <form asp-action="Delete" method="post" class="float-right">
                        <input type="hidden" name="id" value="@post.Id" />
                        <div id="jgo-pages-container-delete-button">
                            <button type="submit" class="jgo-pages-delete-button">Изтрий</button>
                        </div>
                    </form>
                }
            </div>
        }
    </div>

    <nav aria-label="Page navigation" class="jgo-pages-pagination">
        <ul>
            <li class="@(Model.HasPreviousPage ? "" : "disabled")">
                <a asp-action="JGoPage" asp-route-page="@(Model.PageIndex - 1)" class="@(Model.HasPreviousPage ? "" : "disabled-link")">Предишна</a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="@(i == Model.PageIndex ? "active" : "")">
                    <a asp-action="JGoPage" asp-route-page="@i">@i</a>
                </li>
            }
            <li class="@(Model.HasNextPage ? "" : "disabled")">
                <a asp-action="JGoPage" asp-route-page="@(Model.PageIndex + 1)" class="@(Model.HasNextPage ? "" : "disabled-link")">Следваща</a>
            </li>
        </ul>
    </nav>
</div>
